body {
   background-color : #f1f1f1;
   font-family : "Arial", sans-serif;
   margin:0;
   padding:0;
}
h1 {
   font-size : 2rem;
   text-align : center;
   padding-top : 100px;
}

p {
   font-size : 1.5rem;
   font-weight : 600;
   text-align : center;
   margin-bottom : 0.5rem;
}

.buttons {
   display : flex;
   justify-content : center;
}

button {
   border : none;
   font-size : 3rem;
   margin : 0.5rem;
   padding : 0.5rem;
   border-radius : 5px;
   cursor : pointer;
   /* display : flex;
   justify-content : center; */
}

button:hover {
   opacity : 0.5;
}

#rock {
   background-color : #b0c1ef;
}

#paper {
   background-color : #fbcbcb;
}

#scissors {
   background-color : #c1e9c3;
}
#user-score {
   color : #0017ff;
}
#computer-score {
   color : #f33333;
}